.header {
    background-color: #FF5733;
    color: white;

}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    padding: 10px;
    text-align: center;
}