<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<!-- Header -->
<header class="header" th:fragment="header">
  <h1>Mottu Mapping</h1>
</header>

<!-- Footer -->
<footer th:fragment="footer" style="text-align:center; padding:1em; background-color:#f5f5f5;">
  <p>&copy; 2025 Mottu Mapping. Todos os direitos reservados.</p>
</footer>

<!-- Formulário Login - Generico -->
<div class="form-login">
<form  th:fragment="formLogin" th:action="@{/login}" method="post">
  <!-- revisar model User, se será necessário -->
  <div>
    <label>Usuário:</label>

    <input type="text" /> <!--th:field="*{user}" -->
  </div>
  <div>
    <label>Senha:</label>
    <input type="password"  /> <!-- th:field="*{password}" -->
  </div>

  <button type="submit">Login</button>
</form>
</div>
</body>
</html>
