<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Mottu Mapping - Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<header th:insert="fragments/fragments.html :: header"> </header>

<main>
    <div class="login-container">

        <a th:href="@{/admin/login.html} " class="login-button">LOGIN ADMIN</a>

        <a th:href="@{/operator/login.html}" class="login-button">LOGIN OPERADOR</a>

    </div>
</main>

<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>
</html>
